<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learning.android.tenmarks.com.androidlearning" >

    <!--
     We want out app to run on specific devices
     Large screens are okay.
     normal screens no preferred.
     I need a smallestWidthDp to be 533
     we shall read more about w<N>dp and sw<N>dp in our meeting
    -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="533"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- The write_external_storage implicitly acquires read_external_storage -->
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />

    <!--
     Take a look at the "uses-feature" thing, also look at the required attribute
     Google Play will hide your app from devices, those don't have a camera
    -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DashBoardActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NinePatchesActivity"
            android:label="@string/title_activity_nine_patches" >
        </activity>
        <activity
            android:name=".ContactsListActivity"
            android:label="@string/title_activity_nine_patches" >
        </activity>
        <activity
            android:name=".MovieDbDiscoverActivity"
            android:label="@string/title_activity_movie_db_discover" >
        </activity>
        <activity
            android:name=".LearningFragmentsActivity"
            android:label="@string/title_activity_learning_fragments" >
        </activity>
        <activity
            android:name=".MultipleFragmentsActivity"
            android:label="@string/title_activity_multiple_fragments" >
        </activity>
        <activity
            android:name=".MultiPaneActivity"
            android:label="@string/title_activity_multi_pane" >
        </activity>
        <activity
            android:name=".LearningDialogFragmentsActivity"
            android:label="@string/title_activity_learning_dialog_fragments" >
        </activity>

        <!-- Take a look at the windowSoftInputMode field -->
        <activity
            android:name=".DataStorageActivity"
            android:label="Exploring Shared Preferences"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoadDataFromDbActivity"
            android:label="@string/title_activity_load_data_from_db" >
        </activity>
        <activity
            android:name=".UserDictionaryActivity"
            android:label="User Dictionary Content Provider" />
        <activity
            android:name=".TodosOverviewActivity"
            android:label="ToDos Overview Activity" />
        <activity
            android:name=".TodoDetailActivity"
            android:label="ToDos Detail Activity"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <provider
            android:name=".MyTodoContentProvider"
            android:authorities="learning.android.tenmarks.com.androidlearning.contentprovider"
            android:exported="true" />

        <activity
            android:name=".ExploreThreadsActivity"
            android:label="@string/title_activity_explore_threads" >
        </activity>
    </application>

</manifest>
